.grid-container {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    grid-template-columns: auto;
    grid-auto-rows: minmax(10px, auto);
    // grid-template-areas: "nav" "header" "products" "clients" "footer"
}