header {
    display: flex;
    justify-content: center;

    img.logo-top {
        padding: 1rem 1rem;
        width: 100%;
        max-width: 40rem;
        min-width: 0;
    }
}

@media screen and (min-width: 993px) {
    header img.logo-top-medium {
        display: none;
    }
}

@media screen and (min-width: 641px) and (max-width: 992px) {
    header img.logo-top {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    header {
        display: none;
    }
}
