article.recipe-card {
    grid-column: auto /span 1;
    display: flex;
    // position: relative;
    width: 100%;
    height: 200px;

    background: salmon;

    // picture {
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;

    //     img,
    //     source {
    //         object-fit: scale-down;
    //     }
    // }
}
